/* To fix the bar  */
body { padding-top: 70px; 

}

/* To put the asterisk of obligration in red */
.form-group .lblpersona:after , .lblide:after  , .lbnumero:after , .lbgenero:after , .lbnombre:after 
, .lbapellido:after , .lbcelular:after , .lbtelefono:after , .lbcorreo:after  , .lbnacio:after  , .lbdepartamento:after 
 , .lbciudad:after , .lbcontraseña:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
    top:7px;
   }

/* To create Tooltip */
.form-group div.texto {
     color: red;
     display: none;
     position: absolute;
}


